*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {font-size:30px}

.blabla {
background-color: pink;
max-height: 75vh;
overflow: hidden;
}

.i-am-the-boss {
    background-color: cyan;
    padding: 5px;
    font-size: 1.2rem;
}