@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1;
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
}

img {
  width: 100%;
  height: 100%; /* Cela fait que l'image occupe toute la hauteur de la div */
  object-fit: cover; /* L'image est recadrée pour remplir la div sans changer de ratio */
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  background: #3a3d46;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar li {
  margin-left: 30px;
  color: white;
  text-transform: uppercase;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.055em;
  text-align: center;
}

.navbar li:nth-child(1) {
  background: #007dfc;
  padding: 10px;
  border-radius: 4px;
}

.main {
  background: #232323;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.description {
  min-width: 463px;
  height: 327px;
}

h1 {
  font-family: Raleway;
  font-size: 65px;
  font-weight: 800;
  line-height: 65px;
  letter-spacing: 0.04em;
  text-align: left;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

h1 span {
  font-family: Raleway;
  font-size: 65px;
  font-weight: 800;
  line-height: 65px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffb800;
}

.parafBlue {
  text-transform: capitalize;
  margin-top: 25px;
  text-align: center;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #007dfc;
}

hr {
  margin-top: 20px;
  border: 2px solid #949494;
  width: 463px;
  height: 0px;
}
.paraf {
  margin-top: 20px;
  width: 387px;
  height: 105px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.88px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

button {
  margin-top: 20px;
  width: Hug (141px) px;
  height: Hug (41px) px;
  top: 494px;
  left: 120px;
  padding: 10px 27px 10px 27px;
  gap: 10px;
  border-radius: 45px;
  background: rgba(255, 184, 0, 1);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.88px;
  letter-spacing: 0.02em;
  text-align: left;
}

.news {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  margin: 50px;
}

.titre {
  position: relative;
  margin-top: 80px;
  margin-bottom: 40px;
}

.ligne {
  position: absolute;
  top: 15px;
  left: 40px;
  width: 145px;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 1);
}

h3 {
  width: 162px;
  height: 37px;
  top: 777px;
  left: 120px;
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 28px;
  font-weight: 400;
  line-height: 36.54px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.items1 {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
}

.items2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.items3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.items4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.items5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
